{% extends 'base_user.html.twig' %}
{% block body %}
	<div class="login-box">
	    <div class="login-logo">
	        <a href="#"><b>LP</b></a>
	    </div>
	    <div class="login-box-body">
	        <p class="login-box-msg">Réinitialisation mot de passe</p>
			<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
			    <div class="form-group has-feedback">
			        <input type="email" id="username" name="username" required="required" class="form-control" placeholder="Email"/>
			        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
			    </div>
			    <br/>
			    <div>
			        <input type="submit" class="btn btn-primary btn-block btn-flat" value="Réinitialiser mon mot de passe" />
			    </div>
			</form>
		</div>
	</div>
{% endblock %}
