{% extends 'base_user.html.twig' %}
{% block body %}
	<div style="color: white; text-align: center">
		<p>Un e-mail a été envoyé à l'adresse {{ user.email }}. Il contient un lien d'activation sur lequel il vous faudra cliquer afin d'activer votre compte.</p>

		<p>Si vous ne recevez pas un email, vérifiez votre dossier spam ou essayez à nouveau.</p>	
	</div>
{% endblock body %}