	{% trans_default_domain 'FOSUserBundle' %}
	{% block subject %}
	{%- autoescape false -%}
		LP | Réinitialisation mot de passe
	{%- endautoescape -%}
	{% endblock %}
	{% block body_text %}
	{% autoescape false %}
	{% endautoescape %}
	{% endblock %}
	{% block body_html %}
		<div style="text-align: center !important; background-color:#90b2b2; color: white !important; font-size:16px;padding:30px 20%; ">
			<h2>LP</h2>
			<img src="{{ asset('assets/dist/img/default.jpg') }}" width="50px" style="text-align:center"/>
			<p>Bonjour {{ user.lastName }} !</p>
			<p style="color:white">Nous avons reçu une demande de réinitialisation de votre mot de passe.</p>
			<p style="color: white">Si vous voulez vraimment réinitialiser votre mot de passe, merci de cliquer sur le bouton ci-dessous.</p>
			<br/><br/>
			<div style="margin:0 auto;width:40%;text-align:center;">
				<a href="{{ confirmationUrl }}" style="text-align:center; background-color:#3079ed; padding:20px; width:200px; font-weight:bold; text-decoration:none; color: white"> Réinitialiser</a>		
			</div>
			<br/><br/><br/>
			<div style="text-align:left !important; color:white !important">
				<h3> Vous n'êtes pas à l'origine de cette demande ? </h3>
				<p> Si vous n'êtes pas à l'origine de la demande de réinitialisation de mot de passe, ne tenez pas compte de cet email. Vous pouvez vous connecter fiablement avec votre mot de passe actuel.</p>				
			</div>
			</div>
			<div style="height: 40px; line-height:40px;color:white; background:#fe0130;text-align:center; margin-top: -15px;font-size:16px">
				 Copyright © LP {{ "now" | date('Y') }}
			</div>
	{% endblock %}
